---
---
@charset "utf-8";

$base-font-family: "RobotoDraft","Roboto",sans-serif;
$base-line-height: 1.5;

$base-font-size:   16px;
$header-font-size: $base-font-size * 3.5;
$title-font-size:$base-font-size * 2.5;                
$h1-font-size: $base-font-size * 2;
$h2-font-size: $base-font-size * 1.5;
$h3-font-size: $base-font-size * 1.2;
$small-font-size:  $base-font-size * 0.875;


$text-color:       #212121;
$background-color: #ffffff;
$brand-text-color: #ffffff;
$brand-text-color-phone:#222;

$resume-text-color: $brand-text-color;
$resume-subtitle-color: #FF9800; 
$hobbies-color: #FF9800; 

$brand-color:      #ffffff;
$brand-color-about:      #009688;
$brand-color-blogs:      #795548;
$brand-color-projects:   #ff9800;
$brand-color-picks:   	 #673AB7;
$brand-color-resume:     #01579B;
$brand-color-error:     #B71C1C;
$resume-color: #01579B;

$post-date-color:	#D7CCC8;
$projects-name-color: #FFF3E0;
$picks-name-color: #EDE7F6;

$tag-background-color:#FFAB40;
$tag-color:#ffffff;

$footer-color-about:      #B2DFDB;
$footer-color-blogs:      #D7CCC8;
$footer-color-projects:   #FFE0B2;
$footer-color-picks:   #D1C4E9;
$footer-color-resume:     #C5CAE9;

$title-color: $brand-color;
$main-link-font-size:18px;    

$meta-color: #8D6E63;

$nav-link-padding:20px 30px;
$nav-link-padding-phone:5px 10px;
$navbar-padding-horizontal:0px;

$nav-job-link-padding:10px;
$resume-tab-hover:#eee;
$resume-tab-active:$resume-subtitle-color;

$link-color:$brand-color;
$resume-link-color:$resume-color;


$navbar-height:64px;
$primary-header-height:256px;
$primary-header-height-sm:128px;
$secondary-header-height:$navbar-height;
$secondary-header-height-sm:56px;

$on-laptop:	768px;
$on-phone:	480px;		

$icon-font-path: "../fonts/";


@mixin media-query($device) {
    @media screen and (min-width: $device) {
        @content;
    }
}

@import 
		"bootstrap",
		"layout";
		