---
layout: default
theme: blogs
---
<div class="page-content {{ page.theme }}">
<header >
    <h1 class="page-title">Blogs</h1>
</header>
<section>         
    <ul class="post-list list-unstyled">
    {% for post in site.posts %}
      <li class="post" data-url="{{ post.url | prepend: site.baseurl }}">
        <span class="post-date">{{ post.date | date: "%b %d"}} <small>{{post.date | date: "%Y"}}</small></span>
        <span class="post-link">{{ post.title }}</span>
      </li>
    {% endfor %}
    </ul>
</section>
</div>
<!-- <div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div> -->
