<span id="nav-bg"></span>
<nav id="navbar-top" class="col-md-12 navbar-top navbar-collapse collapse navbar navbar-fixed-top ">
  <ul class="nav navbar-nav navbar-right">
    {% for page in site.pages %}
      {% if page.title %}
        <li data-page="{{ page.theme }}" class="{{ page.theme }}">{{ page.title }}</li>
      {% endif %}
    {% endfor %}
  </ul>  
</nav>
<header id="site-header-pri" class="site-header-primary {{ page.theme }}">	
   <h1 class="site-header-title col-md-offset-1 col-md-10 col-sm-10">{{ site.title }}</h1>       
</header>
<header id="site-header-sec" class="site-header-secondary {{ page.theme }} hidden">
    <span class="navbar-toggle collapsed navbar-icon" data-toggle="collapse" data-target="#navbar-top">
      <span class="glyphicon glyphicon-menu-hamburger"></span>
    </span>
    <h1 class="site-header-title col-md-offset-1 col-md-10 col-sm-10 col-xs-10">{{ site.title }}</h1>  
</header>
