body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 400;
    color: $text-color;
    background-color: $background-color;
    -webkit-font-smoothing: antialiased;
}

/**
 * Site header
 */
.site-header-primary,.site-header-secondary{
    display: block;
    background-color: $brand-color;     
    top:0;
    transition: background-color 0.5s linear;
}

.site-header-title{
    color:$brand-text-color;
    font-weight:400;
    white-space:nowrap;
    z-index:100;
    padding-left:0;
}
.site-header-primary{
    height: $primary-header-height-sm;
    padding-top:48px;  

    .site-header-title{
        font-size: 24px;
        line-height:1.5;
        padding-left:15px
    } 
}

.site-header-secondary{  
    position: fixed;    
    top:0;  
    width: 100%;
    height: secondary-header-height-sm;   
    z-index: 1000;

    .site-header-title{
        font-size: 24px;
        line-height:1;
        padding-top:5px;  
        padding-left:15px
    }
}

.site-header-shadow{
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);
}

.newwindow-icon{
    float:right;
}
.about{
    background-color: $brand-color-about;        
}
.projects{
    background-color: $brand-color-projects;  
}
.picks{
    background-color: $brand-color-picks;  
}
.blogs{
    background-color: $brand-color-blogs;  
}
.resume{
    background-color: $brand-color-resume;      
}
.error{
    background-color: $brand-color-error;         
}

/**
 * Nav 
 */
.navbar{
    position:fixed;
    right:25px!important;
    left:inherit;
    background-color:#fff;
    width:160px;
    top:55px;
    box-shadow: 0 0 10px rgba(0,0,0,0.26);
} 
.nav > li {
    padding: $nav-link-padding-phone;
    cursor:pointer;
    color: $brand-text-color-phone;
    display: block;
    transition: all 0.06s linear;   
    &.about,&.blogs,&.projects,&.resume,&.picks{
        background: transparent;
    }    
}

#nav-bg{
    position: absolute;  
    display:block;
    z-index:1;
    transition: width 0.26s linear,height 0.26s linear,left 0.26s linear;  
}

.nav-bg-hidden{
    background-color:transparent;   
}

.nav > li:before{
    content:"";
    position: absolute;    
    left: 50%;   
    right:50%; 
    top: 50%;  
    height:0px;
    width:0px;  
    border-radius:100%;
    opacity:0.5;
    z-index: -1;
    transition: all 0.16s linear;
    box-shadow: 0 0px 10px rgba(0,0,0,0);                     
}
.nav > li.about:before{
    background:$brand-color-about;
}
.nav > li.blogs:before{
    background:$brand-color-blogs;
}
.nav > li.projects:before{
    background:$brand-color-projects;
}
.nav > li.picks:before{
    background:$brand-color-picks;
}
.nav > li.resume:before{
    background:$brand-color-resume;
}

.nav > li:hover:before {
    height:100%;
    width:100%;
    left:0;
    right:0;
    top:0;    
    border-radius:0;
    opacity:1;
}
.navbar-icon{
    color:#fff;
    font-size:20px;    
}

/**
 * Content
 */
.wrapper{
    margin-top:60px;
    min-height:600px;
}

/**
 * Page
 */

.page-content{
    a{
        text-decoration:none;
    }
    .page-title{
        font-size: $title-font-size;        
        font-weight:400;
        line-height:1.5;
    }
    h1{
        @extend .page-title;
        font-size: $h1-font-size; 
    }
    h2{
        @extend .page-title;
        font-size: $h2-font-size; 
    }
    h3{
        @extend .page-title;
        font-size: $h3-font-size; 
    }
    &.about{        
        background-color: transparent!important;       
        h1,h2,h3,a{
            color: $brand-color-about;  
        }
    }
    &.resume{
        background-color: transparent!important;       
        h1,h2,h3,a{
            color: $brand-color-resume;  
        }   
    }
    &.blogs{
        background-color: transparent!important;       
        h1,h2,h3,a{
            color: $brand-color-blogs;  
        }   
    }
    &.projects{
        background-color: transparent!important;       
        h1,h2,h3,a{
            color: $brand-color-projects;  
        }
    }
    &.picks{
        background-color: transparent!important;       
        h1,h2,h3,a{
            color: $brand-color-picks;  
        }
    }

}


/**
 * Posts
 */
.post-list li{
    margin:20px 0px;
} 
.post{
    display:block;
    min-width:30%;
    min-height:50px;
    vertical-align: middle;
    box-shadow: 0 0 2px rgba(0,0,0,0.26);
    font-size:$main-link-font-size;    
    transition: box-shadow 0.26s linear;
    cursor:pointer;
}
.post-date{
    display:inline-block;
    width:60px;
    min-height:50px;
    padding:5px;
    vertical-align: middle;   
    text-align:center; 
    background-color: $post-date-color;
    color:$brand-color-blogs;
}
.post-link{
    vertical-align: middle;  
    color:$brand-color-blogs;
}
.post-meta{
    font-size:small-font-size;
    color:$meta-color;   
}

.post:hover{    
    box-shadow: 0 2px 10px rgba(0,0,0,0.26);
}

/**
 * Projects / Picks
 */
.project , .pick{
    display:block;
    min-height:50px;
    vertical-align: middle;
    box-shadow: 0 0 2px rgba(0,0,0,0.26);
    transition: box-shadow 0.26s linear;
    cursor:pointer;    
    &:hover{
        box-shadow: 0 2px 10px rgba(0,0,0,0.26);
    }
    margin-bottom:20px;
}

.project-name,.pick-name{
    display:inline-block;
    padding:10px;
    width:100%;
    vertical-align: middle;   
    font-size:$main-link-font-size;    
    background-color: $projects-name-color;
    color:$brand-color-projects;
}
.pick-name{
    background-color: $picks-name-color;
    color:$brand-color-picks;   
}

.project-desc,.pick-desc{
    display:inline-block;
    width:100%;
    padding:10px;   
    color:$text-color;
}
/**
 * Resume
 */
.download{
    margin:10px 0;
}
.resume-page{
    
}
.resume-bg{
    background-color:$resume-color;

    h1,h2,h3,h4{
        color:$resume-text-color!important;     
        text-transform:uppercase;   
        padding:0px;
        margin:0px;
    }
    h4{
        font-weight:100;
        letter-spacing:10px;
        line-height:1.5;
    }
}
.resume-name {
    min-height:350px;
    color:$resume-text-color;
    padding:15px;
    text-align:center;        
}
.resume-section-title,.resume-skill-title,.resume-section-detail{
    padding:10px;    
    text-align:justify;
}
.resume-right{
    padding:0px;
}
.resume-left{
    padding:0px;
    padding-bottom:10px;
}
/** Skills **/

.resume-skills{
    padding:15px 0px 0px 0px;   
}

.resume-skills > div{
    padding-top:10px
}
.resume-skill-title{
    cursor:pointer;
    box-shadow: 0 0 2px rgba(0,0,0,0.26);
    transition: box-shadow 0.26s linear;
    &:hover{
        box-shadow: 0 2px 15px rgba(0,0,0,0.26);
    }   
}

/** Experience **/

.resume-exp{
    .tab-pane{
        margin-top:10px;   
    }    
}
.resume-job-title{
    padding:10px;
    margin: 3px -10px;
    cursor:pointer;
    box-shadow: 0 0 2px rgba(0,0,0,0.26);
    transition: box-shadow 0.26s linear;
    &:hover{
        box-shadow: 0 2px 10px rgba(0,0,0,0.26);
    }    
}
.resume-section-highlight{
    color:$resume-subtitle-color;
    text-transform:uppercase;
    font-weight:500;
}

.resume-section-period:before{
    content:'\25A0';    
    margin: 0px 3px;    
}
.resume-job-details{   
    padding-bottom:20px; 
    top:-100%;
    transition: top 0.26s linear;   
}

.resume-job-details .nav-tabs {
  border-bottom:0px;
}
.resume-job-details .nav li{
    padding: $nav-job-link-padding;
    padding-bottom:5px;
    cursor:pointer;
    color: $resume-link-color;
    display: block;
    &.active{
        border-bottom:2px solid $resume-tab-active;
    }
}

.list-plus-bullet{
    margin-left:20px;
}
.list-plus-bullet li:before{
    content:'\002B';    
    margin: 0px 10px 0px -20px;       
}

.closed{     
    position:absolute;
    top:-150%;    
    overflow:hidden;    
}

.hobbies > h2{
    color:$hobbies-color!important;
    text-align:left;
    margin: 0px 0px 10px 0px;
    font-size:20px
}   
.hobbies-link{
    display:block;
    font-size:$base-font-size;
}
/**
 * Footer
 */
.site-footer{
    position:relative;
    bottom:0px;
    margin-top:40px;
    color:$brand-text-color;
    transition: background-color 0.26s linear;
}

.footer-content{
    padding: 20px 0px;

    h4{
        margin-top:0px;
    }

    li{
        cursor:pointer;

        &:hover{
            text-decoration:underline;
        }
    }    
}
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $brand-color;
        }
    }
}
/**
 * Media
 */ 
@include media-query($on-phone) {
    .resume-left{
        padding-right:15px;  
    }
    .hobbies > h2{
        font-size:24px
    }      
}
@include media-query($on-laptop) {
    .site-header-primary{
        height: $primary-header-height;
        padding-top:100px;  

        .site-header-title{
            font-size: $header-font-size;
            line-height:1.5;
            padding-left:15px;
        }
    }
    .header-svg-primary{
        height: $primary-header-height;
    }
    .site-header-secondary{  
        position: fixed;    
        height: $secondary-header-height;

        .site-header-title{
            font-size: 24px;
            line-height:1;            
        }
    }    

    .header-svg-secondary{
        height: $secondary-header-height;
    }
    .navbar{
        right:20px;
        top:0px;
        width:100%;
        background-color:transparent;
        box-shadow:none;
    } 
    .nav > li {
        padding: $nav-link-padding;
        cursor:pointer;
        color: $brand-text-color;
        display: block;
        transition: all 0.06s linear;   
        &.about,&.blogs,&.projects,&.resume,&.picks{
            background: transparent;
        }    
    }  
}